<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    <h3>Did you know?</h3>
                    <p>You know you will not win immediately but definitely.You know you will not win immediately but definitely.You know you will not win immediately but definitely.You know you will not win immediately but definitely.You know you will not win immediately but definitely.</p>
                  
                     
                    </form>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
<h3>Useful Links</h3>
<ul>
    <li ><a href="https://ars.com.np">ars.com.np</a></li>
    <li ><a href="https://wrc.edu.np">wrc.edu.np</a></li>
    <li ><a href="https://ioenotes.com.np">ioenotes.com.np</a></li>
    <li ><a href="https://www.puranotes.com">puranotes.com</a></li>
    <li ><a href="https://anantarajshrestha.com.np">anantarajshrestha.com.np</a></li>
</ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                    <h3>Follow Us</h3>
                    <p>Please Follow us on our Social Media Profile in order to keep updated.</p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                    <h3>Never Give Up</h3>
                    <p>You know you will not win immediately but definitely.You know you will not win immediately but definitely.You know you will not win immediately but definitely.You know you will not win immediately but definitely.</p>
                    <form  action="">
                       
                                <input style="width:50%;" type="email" name="email" id="email" >
                         
                                <input  type="submit" value="Subscribe">
                        
                        </div>
                     
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>var date = new Date();</script>
    <p class="footer-bottom">All Right Reserved by &copy;NGU,<script>document.write(date.getFullYear());</script></p>
</footer>