
<div  class="shadow-lg p-3 mb-5 rounded">
  <script>
   
  </script>
<nav class="my-navbar navbar navbar-expand-lg navbar-light" >
  <div class="navbar-inner container-fluid">
  <a class="navbar-brand" href="#">NGU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class=" my-menu nav navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/"><i class="fa fa-clock-o"></i>
          <script>
            var date = new Date();
          
            document.write(date);</script></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/"><i class="fa fa-home"></i>
          Home</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/upload/"><i class="fa fa-upload"></i>
          Upload</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/add-post/"><i class="fa fa-plus"></i>
          Add Post</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/"><i class="fa fa-cog"></i>
          Setting</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link" href="/register/"><i class="fa fa-user"></i>
          Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/"><i class="fa fa-sign-in"></i>
          Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/"><i class="fa fa-sign-out"></i>
          Logout</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/search/"><i class="fa fa-search"></i>
          Search</a>
      </li>
     
    </ul>
  </div>
</div>
</nav>
</div>
