<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-page not found!</title>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/bootstrap/index.js"></script>
</head>
<body style="color:teal;">
    <div class="container my-5">
        <h1>Oops!</h1>
        <h2>This page doesn't exit!</h2>
        <h2>Don't worry,you may follow us at <a href="https://www.ars.com.np/">www.ars.com.np</a></h2>
    </div>


</body>
</html>